<!-- Change `work` with your tag name -->
{{#get 'posts' filter='tags:Concept' limit='4' as |posts|}}
  {{#if posts}}
    <div class='c-teaser-wrapper o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <div class='o-grid'>
        <div class='o-grid__col o-grid__col--full'>
          <div class='c-title-bar'>
            <h3 class='c-title-bar__title'>
              <a href='/tag/concept' class='u-font-size-small u-color-gray'>Concept</a>
            </h3>
          </div>
        </div>

        <div class='o-grid__col'>
        {{#foreach posts visibility='all'}}
          {{> teaser }}
        {{/foreach}}
        </div>
      </div>
    </div>
  {{/if}}
{{/get}}

<!-- Change `travel` with your tag name -->
{{#get 'posts' filter='tags:Application' limit='4' as |posts|}}
  {{#if posts}}
    <div class='c-teaser-wrapper o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <div class='o-grid'>
        <div class='o-grid__col o-grid__col--full'>
          <div class='c-title-bar'>
            <h3 class='c-title-bar__title'>
              <a href='/tag/application' class='u-font-size-small u-color-gray'>Applicatio</a>
            </h3>
          </div>
        </div>

        <div class='o-grid__col'>
        {{#foreach posts visibility='all'}}
          {{> teaser }}
        {{/foreach}}
        </div>
      </div>
    </div>
  {{/if}}
{{/get}}

<!-- Change `lifestyle` with your tag name -->
{{#get 'posts' filter='tags:Feature' limit='4' as |posts|}}
  {{#if posts}}
    <div class='c-teaser-wrapper o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <div class='o-grid'>
        <div class='o-grid__col o-grid__col--full'>
          <div class='c-title-bar'>
            <h3 class='c-title-bar__title'>
              <a href='/tag/feature' class='u-font-size-small u-color-gray'>Feature</a>
            </h3>
          </div>
        </div>

        <div class='o-grid__col'>
        {{#foreach posts visibility='all'}}
          {{> teaser }}
        {{/foreach}}
        </div>
      </div>
    </div>
  {{/if}}
{{/get}}